.ResultView {
    margin: 0 auto;
    margin-top: 30svh;
    padding: 1rem;
    flex-direction: column;

    .info {
        margin-bottom: 1rem;

        h1 {
            text-align: center;
            font-weight: 300;
            margin-bottom: 0.5rem;
        }

        p {
            text-align: center;
            max-width: 300px;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            color: #78AAFF;
        }
    }

    button {
        background-color: #565656;
        transition: 200ms linear;
        font-weight: 300;
        padding: 0.5rem 1rem;
        text-transform: capitalize;

        &:hover {
            background-color: #78AAFF;
        }
    }
}